body{
    margin: 0px;
    width: 100%;
    font-family: 'Merriweather', serif;
}

h1{
    display: inline-block;
    height: 45px;
    width: 200px;
    font-family: 'Dancing Script', cursive;
    color: #66BFBF;
    margin: 0;
    position: relative;
    top: 0px;
    left: 200px;
}

h2{
    display: inline-block;
    height: 30px;
    width: 150px;
    font-family: 'Dancing Script', cursive;
    color: #66BFBF;
    font-weight: normal;
    position: relative;
    bottom:330px;
    left: 200px;
}

a{
    color: #11999E;
}

div.top-container{
    height: 500px;
    width: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:#c8ede6;
}

img.top-cloud{
    display: inline-block;
    position: relative;
    left: 1650px;
    top: 50px;
}

img.mid-cloud{
    display: inline-block;
    position: relative;
    bottom: 250px;
    left: 1050px;
}

img.bottom-cloud{
    display: inline-block;
    position: relative;
    bottom: 150px;
    left: 1430px;
}

img.mountain{
    display: inline-block;
    margin: 0px;
    position: relative;
    top: 50px;
    left: 750px;
}

img.balloon{
    position: relative;
    display: inline-block;
    margin: 0px;
    bottom: 100px;
    left: 90px;
}

img.author-photo{
    display: inline-block;
    margin: 0 px;
    position: relative;
    top: 20px;
    left: 370px;
    width: 200px;
}