body{
    margin: 0px;
    font-family: 'Merriweather', serif;
}

div.top-container{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:#c8ede6;
}

h1{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    position: relative;
    top: 25%;
    left: 43%;
}

h2{
    display: inline-block;
    font-family: 'Lora', serif;
}

h3{
    font-family: 'Lora', serif;
    margin-top: 30px;
    text-align: center;
}

img.top-cloud{
    position: relative;
    left: 70%;
    top: 2em;
}

img.bottom-cloud{
    position: relative;
    bottom: 300px;
    left: 50px;
}

img.mountain{
    margin: 0px;
    position: relative;
    left: 25%;
}

img.balloon{
    position: absolute;
    bottom: 550px;
    right: 100px;
}

img.author-photo{
    display: inline-block;
    margin: 0 px;
    position: relative;
    top: 20px;
    left: 370px;
    width: 200px;
}