html{
  margin: 0;
  max-width: 1560px;
}

body {
  
  border: 2px skyblue solid;
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: block;
  flex-flow: column wrap;
  min-height: 95vh;
  width: 100%
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.creative{
  color:cadetblue;
}

footer {
  position: relative;
  top:
  text-align: right;
  color: midnightblue;
}

.card{
  display: inline-block;
  border: 5px solid green;
  width: 35vw;
  height: 270px;

}


.left{
  float: left;
}

.right{
  float: right;
}

.flex-box{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;

}

.tile-image{
  position:absolute;
  width: 400px;
  height: 270px;
}

.card-title{
  position: relative;
  /* top: -250px; */
  left: 26rem;
  margin-left: 10px;
}

.card > p{
  position: relative;
  width: 250px;
  /* top: -250px; */
  left: 26rem;
  text-align: left;
  margin-left: 10px;
}

.right .card{
  position: relative;
}


@media only screen and (max-width: 600px) {
  .card{
    display: block;
  }
  
}

@media only screen and (min-width: 800px) {
  .card{
    display: block;
    border: 5px solid green;
    width: 35vw;
    height: 270px;
  
  }

  .

  
}

