body{
    margin: 0px;
    width: 100%;
    font-family: 'Merriweather', serif;
}

h1{
    display: inline-block;
    height: 60px;
    width: 200px;
    font-family: 'Dancing Script', cursive;
    color: #66BFBF;
    margin: 0;
    position: relative;
    top: 00px;
    left: 815px;
}

h2{
    display: inline-block;
    height: 30px;
    width: 200px;
    font-family: 'Dancing Script', cursive;
    color: #66BFBF;
    font-weight: normal;
    position: relative;
    bottom:330px;
    left:830px;
    margin: 10px;
}

h3{
    font-family: 'Dancing Script', cursive;
    color: #11999E;
    margin-top: 10px;
    position: relative;
    top: 25%;
    left: 47%;
}
a{
    color: #11999E;
}

div.top-container{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:#c8ede6;
}

img.top-cloud{
    position: relative;
    left: 70%;
    top: 2em;
}

img.bottom-cloud{
    position: relative;
    bottom: 300px;
    left: 50px;
}

img.mountain{
    margin: 0px;
    position: relative;
    left: 25%;
}

img.balloon{
    position: absolute;
    bottom: 550px;
    right: 100px;
}

img.author-photo{
    display: inline-block;
    margin: 0 px;
    position: relative;
    top: 20px;
    left: 370px;
    width: 200px;
}

.skill-row{
    margin: auto;
    width: 50%;
    padding: 10px;
}